body {
  overflow: hidden; /* Hide scrollbars */
 
  /* background-image: linear-gradient( to  right, rgb(255, 255, 255), rgb(255, 255, 255),rgb(41, 220, 202),rgb(41, 220, 202)  ); */
  background-image: linear-gradient( to  right, black, rgb(2, 62, 138), rgb(2, 62, 138),rgb(2, 62, 138), black );

  background-color: rgb(2, 62, 138);
}
