.msg-area {
  background-color: transparent;
  width: 100%;
  height: 78.5vh;
  padding-left: 10px;
  padding-bottom: 20px;
  border-radius: 20px;
  overflow: auto;
  border-left-style: double;
  border-left-width: 10px;
  border-left-color: #dbf6e9;
  border-right-style: double;
  border-right-width: 10px;
  border-right-color: #dbf6e9;
}