.message-window {
  height: 950 !important;
  }
  .chatWindow{
    margin-top: 5px !important;
    margin-bottom: 30px !important;
    /* width: 3000px !important; */
  }
  .mt-5{
    background-color: transparent;
    margin-left: 0;
  }
  
  .message-app {
    background-color: transparent;
    margin-left: 0;
  }
  
  .chatHeading {
    width: 100%;
    padding: 1rem;
    color: #dbf6e9;
    border-color: #dbf6e9;
    text-align: center;
    border-bottom-width: 5px !important;
    border-bottom-color: #dbf6e9; 
    border-bottom-style: solid;
    border-bottom-left-radius:700px;
    border-bottom-right-radius: -50px;
  
  }
  
  .chatHeadingText {
    background-color: #dbf6e9;
    text-shadow: center;
    text-justify: center;
    font-style: bold;
  }

  .messageW{
    height:90%;
    margin-top: 0px;
    /* background-color: red !important; */
  }
  .messengerSection{
   height: 50px;
   margin-top: 10px !important;
   
  }