.signup{
    background-color: transparent !important;
    border-top-style: double !important;
    border-top-width: 10px !important;
    border-top-color: black !important;
    border-top-right-radius: 40px !important;
    border-bottom-style: double !important;
    border-bottom-width: 10px !important;
    border-bottom-color: black !important;
    border-bottom-left-radius: 40px !important;
    
    
    }
    /* .emailPasswordSect{
        margin-top: 10px !;
    } */
    .inputField{
    background-color: transparent !important;
    border-bottom-color: rgb(0, 0, 0) !important;
    border-top-color: transparent !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-right-radius: 100px !important;
    border-bottom-left-radius: 50px !important;
    color:gray !important;
    /* padding-bottom: 5px !important; */
    text-align: center;
    }
    
    .textStyle{
        color:gray !important;
    }
    
    .buttonField{
        background-color: transparent !important;
        border-color: black !important;
        color:gray !important
    }