.navBar{
border-bottom-style: double;
border-bottom-width: 10px;
border-bottom-right-radius: 50px;
border-bottom-color: #dbf6e9;
}

.logo{
    height: 50px;
    margin-right: 10px;
}

.welcomeUser{
    font-size: larger;
    font-weight: bolder;
}
.searchBar{
margin-right: auto;
}